body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #1e293b;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
}